body {
  background-color: #555;
}

.missing-code-content {
  width: 100%;
  text-align: center;
}

.missing-code-pane {
  min-width: 25%;
  height: 500px;
  background-color: #999;
  border-radius: 5%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 1%;
}

.missing-code-pane h1 {
  padding-top: 2%;
}

.missing-code-files {
  background-color: #222;
  width: 15%;
  display: inline-block;
  float: right;
  height: 100%;
  overflow: auto;
}

.missing-code-files-title {
  background-color: #444;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.missing-code-file-item {
  padding-top: 1;
  padding-bottom: 1;
  font-size: small;
  margin-top: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  color: white;
  cursor: pointer;
}

.theme-file {
  border-color: blue;
}

.missing-code-snippet {
  background-color: #777;
  width: 40%;
  height: 10%;
  margin-left: 5%;
  display: inline-block;
  margin-top: 2%;
  box-shadow: 0px 5px 15px -2px #111;
}

.missing-code-snippet h3 {
  display: inline-block;
}


.snip-view {

}

#snip-code {
  display: none;
}

.snip-buttons img {
  max-width: 16px;
  position: relative;
  cursor: pointer;
}

.snip-buttons {
  display: inline-block;
  float: right;
  padding-right: 10px;
  padding-top: 5px;
}

.snip-copy {
  margin-top: 5px;
}

.snip-view-pane-fade {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
}

.snip-view-pane {
  width: 40%;
  background-color: #888;
  margin-left: 30%;
  height: 60%;
  border-radius: 5%;
}

.snip-view-pane textarea {
  background-color: #d9d9d9;
  width: 80%;
  height: 80%;
  border-radius: 1%;
  text-align: left;
  overflow: auto;
}

.snip-view-pane-buttons button {
  width: 10%;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  border-color: black;
  height: 5%;
}

button:focus {
  outline:0;
}
