/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 2%;
margin-left: 10%;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.main_content
{
  font-family: 'Bree Serif', serif;
  width: 40%;
  margin: 0% auto;
  background-color: grey;
  border-radius: 15px 50px;
  border-color: #000;
  height: auto;
}
.settings_title
{

  background-color: #bfbfbf;
  border-radius: 15px 50px 50px 50px;
  padding: 10px 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 30px;
}
h3
{
  padding: 0px;
  margin: 10px;
}
.settings_content
{
  width: 100%;
  margin: 0 auto;
  border-radius: 50px 50px 15px 50px;
  background-color: #4d4d4d;
  height: 100%;
  color: #e6e6e6;

}
.setting_label
{
  font-size: 25px;
  width: 80%;
}
.line
{
  display: -webkit-inline-box;
  text-align: left;
  width: 100%;
  margin-left: 5%;
  margin-bottom: 15px;
  margin-top: 15px;
}
body{
  background-color:  #333333;
}
.save_options
{
  text-align: center;
}
.save_button
{
  text-align: center;
  padding: 10px;
}
.save_options {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8f8f8f), color-stop(1, #47494a));
	background:-moz-linear-gradient(top, #8f8f8f 5%, #47494a 100%);
	background:-webkit-linear-gradient(top, #8f8f8f 5%, #47494a 100%);
	background:-o-linear-gradient(top, #8f8f8f 5%, #47494a 100%);
	background:-ms-linear-gradient(top, #8f8f8f 5%, #47494a 100%);
	background:linear-gradient(to bottom, #8f8f8f 5%, #47494a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f8f8f', endColorstr='#47494a',GradientType=0);
	background-color:#8f8f8f;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #9096a8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b0b3bd;
}
.save_options:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #47494a), color-stop(1, #8f8f8f));
	background:-moz-linear-gradient(top, #47494a 5%, #8f8f8f 100%);
	background:-webkit-linear-gradient(top, #47494a 5%, #8f8f8f 100%);
	background:-o-linear-gradient(top, #47494a 5%, #8f8f8f 100%);
	background:-ms-linear-gradient(top, #47494a 5%, #8f8f8f 100%);
	background:linear-gradient(to bottom, #47494a 5%, #8f8f8f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47494a', endColorstr='#8f8f8f',GradientType=0);
	background-color:#47494a;
}
.save_options:active {
	position:relative;
	top:1px;
}
.signature {
  color: black;
  text-align: center;
}
.signature img {
  max-width: 19px;
}

.collaborator_account_notes
{
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
}
.setting_label_text_area
{
  font-size: 25px;
  width: 40%;
}
