.bh-ajax-btn:disabled:hover {
  background-color: #C0C0C0;
}
.bh-ajax-btn:disabled {
  background-color: #C0C0C0;
}

.bh-ajax-btn {
  border-style: solid;
  border-color: black;
  text-align: center;
  width: 100% !important;
  background-color: #C0C0C0;
}

.bh-ajax-btn:hover {
  background-color: #777;
}

.bh-ajax-menu {
  width: 7%;
  position: absolute;
  height: 20%;
  z-index: 10;
  margin-left: 80%;
  margin-top: 1%;
  display: none;
}

.log-false {
  color: red;
  display: inline;
}

.bh-rocart-log {
  display: none;
  color: green;
}


.bh-codepopup {
  position: absolute;
  width: 10vw;
  height: 5vh;
  background-color: #999;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 80%;
  z-index: 10;
  overflow-x: hidden;
  display: none;
}

.bh-radio-div {
  margin-right: 3%;
  color: black;
  display: inline;
  z-index: 1000;
}

.bh-btn
{
  margin-left: 5px !important;
  margin-right: 5px !important;
  padding: 0.7rem !important;
}

.bh-cachebuster {
  display: none !important;
}

.bh-ro-cart {

}

.bh-install-menu {
  width: 5vw;
  height: 15vh;
  position: absolute;
  border-radius: 5px;
  margin-right: 0;
  margin-left: 88%;
  margin-top: 5px;
  background: rgba(145, 158, 171, 0.5);
  z-index: 100;
  border-style: solid;
  border-color: #919eab;
  border-width: thin;
  display: none;
}

.bh-fixes
{
  padding: 0.7rem !important;
}

.customer-lookup-btn {
  position: relative;
  font-size: 12px;
  margin: 0 auto;
}

.recover-btn {
  display: inline-block;
  background-color: gray;
  width: 50%;
  height: 44px !important;
  margin-left: 0;
  float: right;
  margin-top: 1.6rem !important;
  font-size: 1.2rem !important;
}

.bold-install-widget {
  position: relative;
  width: auto;
  height: auto;
  z-index: 0;
}

.bold_flex_div {
  position: relative;
  width: 50%;
  margin-left: 50%;
}

.bold-install-div {
    width: 5vw;
    height: 100%;
    position: relative;
    margin-left: 20px;
}

.bold-install-dropdown {
  width: 40%;
  margin-top: 1%;
  height: 100%;
}

.bold-install-dropdown-menu {
  width: 100%;
  height: 90px;
  position: absolute;
  background-color: white;
  border-width: thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: none;
  margin-left: 10%;
  margin-top: 2%;
  height: auto;
  padding-right: 8%;
  padding-bottom: 5%;
  padding-top: 4%;
  border-radius: 5%;
}

.bold-install {
  width: 90%;
  margin-top: 2%;
}
