.cadet_peek {
  padding-right: 1%;
  width: 32px;
}

.cadet_peek img {
  border-radius: 5%;
}

.cadet_apps_tools {
  position: absolute;
  width: 70%;
  top: 85%;
  text-align: right;
}

.coppy_hooks_advanced_options {
  transition: max-height 1s ease-out;
  overflow: hidden;
  max-height: 0;
  transform-origin: top;
}

.cadet_modal h3 {
  color: gray;
}

.cadet_modal textarea {
  background-color: transparent;
  border: 1px #cccccc solid;
}

.cadet_modal input[type="text"] {
  border: 1px #cccccc solid;
}

.cadet_menu {
  padding-bottom: 1%;
}
