.cadet_peek {
  padding-right: 1%;
  width: 32px;
}

.cadet_peek img {
  border-radius: 5%;
}

.cadet_apps_tools {
  position: absolute;
  width: 70%;
  top: 85%;
  text-align: right;
}

.coppy_hooks_advanced_options {
  transition: max-height 1s ease-out;
  overflow: hidden;
  max-height: 0;
  transform-origin: top;
}

.cadet_modal h3 {
  color: gray;
}

.cadet_modal textarea {
  background-color: transparent;
  border: 1px #cccccc solid;
  color: #999;
}

.cadet_modal input[type="text"] {
  border: 1px #cccccc solid;
  color: #cccccccc;
}

.cadet_menu {
  padding-bottom: 1%;
}

.bulk_files_list_wrap input[type="checkbox"], .detected_ib_prod_wrap input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin-right: 1%;
}

.bulk_files_list_wrap span {
  font-size: 16px;
}

.coppy_bulk_tab img, .coppy_bulk_item img {
  display: inline;
  margin-right: 5px;
  max-width: 15px;
  cursor:  pointer;
}

.cadet_menu select[name="cadet_file_type"] {
  display: inline-block;
}

.cadet_menu input[name="cadet_file_name"] {
  display: inline-block;
      margin: 0;
}

div.cadet_new_file p {
  color: white;
  font-weight: 400;
}

.cadet_files_confirm_list span {
  display: block;
}

label input[type="checkbox"] {
  display: inline;
  width: auto;
}

.cadet_prod_menu select[name="cadet_prod_type"] {
  margin-top: 2%;
}

input[type="text"][name="cadet_prod_name"] {
  width: 80%;
  text-align: center;
}
